header {
  text-align: center;
  font-size: 70px;
  background-color: rgb(173, 173, 160);
  color: beige;
}
div {
  background-color: beige;
}

.game-container {
  width: 600px;
  height: 600px;
  position: relative;
  background: rgb(90, 90, 90);
  margin-left: auto;
  margin-right: auto;
}
button {
  background-color: rgb(173, 173, 160);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  padding: 0;
  margin: 0;
  background-color: beige;
}

.tile {
  display: flex;
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: aquamarine;
  font-size: 60px;
  border-width: 1px;
  border: solid black;
  justify-content: center;
  align-items: center;
}
