header {
  text-align: center;
  font-size: 70px;
  background-color: rgb(173, 173, 160);
  color: beige;
}
div {
  background-color: beige;
}

.game-container {
  width: 600px;
  height: 600px;
  position: relative;
  background: rgb(90, 90, 90);
  margin-left: auto;
  margin-right: auto;
}
button {
  background-color: rgb(173, 173, 160);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  padding: 0;
  margin: 0;
  background-color: beige;
}
